
  .contact .box {
    padding: 30px;
  }
  .contact .details h1 {
    margin: 20px 0 20px 0;
    font-size: 35px;
  }
  .contact .details p {
    font-size: 17px;
  }
  .contact .button {
    margin-top: 20px;
  }
  .contact button {
    margin-right: 20px;
  }
  
  .contact .input span {
    font-size: 13px;
  }
  .contact input {
    margin-top: 10px;
  }

form .right-btn{
    width: 100%;
  }
